@use "../Global";

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.grass {
    background: radial-gradient(circle at 50% 0%, Global.$grass 36%, #ffffff 36%);  
}

.fire {
    background: radial-gradient(circle at 50% 0%, Global.$fire 36%, #ffffff 36%);  
}

.water {
    background: radial-gradient(circle at 50% 0%, Global.$water 36%, #ffffff 36%);  
}

.bug {
    background: radial-gradient(circle at 50% 0%, Global.$bug 36%, #ffffff 36%);  
}

.card { 
    width: 8rem;  
    height: 12rem;  
    margin: 1rem;
    padding: 30px 20px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    // background: radial-gradient(circle at 50% 0%, red 36%, #ffffff 36%); 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    p {
        margin: 0;
        padding: 0.5rem;
        text-transform: uppercase;
    }

    .card__pokeimg {
        width: 100%;
    }

    .card__pokeimg img {
        width: 100%;
        image-rendering: pixelated;
        object-fit:cover;
        transform: scale(1.5);
       
    }

    .card__pokename {
        text-align: center;
        font-weight: 600;        
    }

    .card__button {
        background-color: black;
        color: white;
        border: none;
        border-radius: 5px;
        margin-top: 1rem;
        font-size: 1rem;
        padding: 0.5rem 0.8rem;
    }

    .card__button:hover {
        cursor: pointer;        
    }

    .card__poketypecontainer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card__poketypecontainer p {
        color: white;
        border-radius: 5px;
        font-size: 0.6rem;
        width: 5rem;
    }

    .card__poketype--grass {        
        background-color: Global.$grass;        
    }

    .card__poketype--fire {
        background-color: Global.$fire;
    }



}